body {
    font-family: 'Anta', sans-serif;
    background-color: black;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: green;
}

h5 {
    font-size: 1.5em; 
    color: white;
}

.button-primary {
    background-color: white;
    color: black;
    font-size: 1.2em; 
    padding: 10px 20px; /* Adjust padding for a larger button */
}

img {
    max-width: 700px; /* Increase the max-width for the image */
    height: auto;
    display: block;
    margin: 0 auto;
}

.game-info h2 {
    font-size: 2em; 
    color: blue;
}

.game-info text p {
    font-size: 1.2em; 
}

.game-info desc p {
    font-size: 1.6em; 
}

.game-info img {
    max-width: 100%;
}



